In [1]:
import pandas as pd
import numpy as np

In [3]:
#csv'den okuma  # kacis dizinini unutma, sep=";"
veri = pd.read_csv("C:\\Users\\Toshiba\\Desktop\\datascience\\Pandas\\veriler.csv")

In [4]:
veri

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [5]:
veri.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [6]:
#exel'den okuma
data_original = pd.read_excel("C:\\Users\\Toshiba\\Desktop\\datascience\\Pandas\\sinavlar.xlsx")

In [7]:
data = data_original.copy()
data

                 Ad_Soyad  Dogru  Yanlis   Bos       Sinif
0           Zerin Ozdilek   20.0     5.0  15.0  py_science
1             Beyza Aydin   26.0     6.0   8.0  py_science
2       Zeliha Tozkoparan   28.0     9.0   3.0  py_science
3            Dilek Koksal   30.0     7.0   3.0  py_science
4            Sehri Gokcan   19.0    15.0   6.0  py_science
5           Esra Tepebasi   29.0     9.0   2.0  py_science
6                 Gulben    12.0     0.0   0.0  py_science
7          Rukiye Aydogdu   10.0     0.0   0.0  py_science
8      Emine Tuba Istemil   20.0    19.0   1.0  py_science
9   Emine Sernur Yildirim   24.0    12.0   4.0  py_science
10                ramazan   22.0     6.0  12.0    py_sense
11                  emrah   19.0     0.0   0.0    py_sense
12                 selcuk   18.0     0.0   0.0    py_sense
13          fikret yilmaz   20.0    13.0   7.0    py_sense
14             mehmet ali   24.0    13.0   3.0    py_sense
15       huseyin tunctepe   27.0    11.0   2.0    py_sense
16                  adnan   29.0    10.0   1.0    py_sense
17           muhammet ali   22.0    11.0   7.0    py_sense
18                  zafer   18.0    11.0  11.0    py_sense
19           faruk öztürk    0.0     0.0   0.0    py_sense
20                 M.Akif   23.0    17.0   0.0     py_mind
21                   Riza   21.0    19.0   0.0     py_mind
22                   Ufuk   28.0    12.0   0.0     py_mind
23                  Murat   16.0    24.0   0.0     py_mind
24                   Zeyd   20.0    20.0   0.0     py_mind
25               Emrullah   16.0    24.0   0.0     py_mind
26                  Ozgur   19.0    21.0   0.0     py_mind
27                  Hakan   28.0    12.0   0.0     py_mind
28                  Emrah    0.0     0.0   0.0     py_mind
29                  Osman    0.0     0.0   0.0     py_mind
30            Aydin Dalli   28.0     8.0   4.0  py_opinion
31                 Ilhami   29.0     9.0   2.0  py_opinion
32             Nazmi Dere   27.0     0.0   0.0  py_opinion
33           Salih Arslan   26.0     0.0   0.0  py_opinion
34              Naim Ucar    0.0     0.0   0.0  py_opinion
35               Emrah Uz   27.0    13.0   0.0  py_opinion
36           Ensar Baltaş    0.0     0.0   0.0  py_opinion
37          İbrahim Fırat    0.0     0.0   0.0  py_opinion
38         Mehmet Karayel    0.0     0.0   0.0  py_opinion
39                  Murat    0.0     0.0   0.0  py_opinion
40             Omer Basol    0.0     0.0   0.0  py_opinion
41                  irfan   40.0     0.0   0.0      deneme
42                kamuran    NaN     NaN   NaN      deneme
43             husamettin    NaN     NaN   NaN      deneme

In [8]:
type(data)  # veri tipi

pandas.core.frame.DataFrame

In [9]:
data.head() #ilk 5 deger

            Ad_Soyad  Dogru  Yanlis   Bos       Sinif
0      Zerin Ozdilek   20.0     5.0  15.0  py_science
1        Beyza Aydin   26.0     6.0   8.0  py_science
2  Zeliha Tozkoparan   28.0     9.0   3.0  py_science
3       Dilek Koksal   30.0     7.0   3.0  py_science
4       Sehri Gokcan   19.0    15.0   6.0  py_science

In [10]:
data.tail()   # son 5

      Ad_Soyad  Dogru  Yanlis  Bos       Sinif
39       Murat    0.0     0.0  0.0  py_opinion
40  Omer Basol    0.0     0.0  0.0  py_opinion
41       irfan   40.0     0.0  0.0      deneme
42     kamuran    NaN     NaN  NaN      deneme
43  husamettin    NaN     NaN  NaN      deneme

In [11]:
data.columns

Index(['Ad_Soyad', 'Dogru', 'Yanlis', 'Bos', 'Sinif'], dtype='object')

In [12]:
data.info() # veri on bilgisi.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 5 columns):
Ad_Soyad    44 non-null object
Dogru       42 non-null float64
Yanlis      42 non-null float64
Bos         42 non-null float64
Sinif       44 non-null object
dtypes: float64(3), object(2)
memory usage: 1.8+ KB

In [13]:
data.describe()  #veri hakkinda istatistiksel on bakis. Sadece int yada flout degerleri alir.

           Dogru     Yanlis        Bos
count  42.000000  42.000000  42.000000
mean   18.214286   8.000000   2.166667
std    10.977884   7.644542   3.708373
min     0.000000   0.000000   0.000000
25%    13.000000   0.000000   0.000000
50%    20.000000   8.500000   0.000000
75%    27.000000  12.750000   3.000000
max    40.000000  24.000000  15.000000

In [14]:
data.dtypes    #sutunlarin veri tiplerini gorme

Ad_Soyad     object
Dogru       float64
Yanlis      float64
Bos         float64
Sinif        object
dtype: object

In [15]:
data.corr()   #verinin korelasyonunu alir. Birbiri arasindaki iliskiye bakar.

           Dogru    Yanlis       Bos
Dogru   1.000000  0.409212  0.235754
Yanlis  0.409212  1.000000  0.086036
Bos     0.235754  0.086036  1.000000

In [16]:
veri.corr()  #diger verinin korelasyonuna bakalim. daha anlamli

           boy      kilo       yas
boy   1.000000  0.899177  0.508706
kilo  0.899177  1.000000  0.423259
yas   0.508706  0.423259  1.000000

In [17]:
data

                 Ad_Soyad  Dogru  Yanlis   Bos       Sinif
0           Zerin Ozdilek   20.0     5.0  15.0  py_science
1             Beyza Aydin   26.0     6.0   8.0  py_science
2       Zeliha Tozkoparan   28.0     9.0   3.0  py_science
3            Dilek Koksal   30.0     7.0   3.0  py_science
4            Sehri Gokcan   19.0    15.0   6.0  py_science
5           Esra Tepebasi   29.0     9.0   2.0  py_science
6                 Gulben    12.0     0.0   0.0  py_science
7          Rukiye Aydogdu   10.0     0.0   0.0  py_science
8      Emine Tuba Istemil   20.0    19.0   1.0  py_science
9   Emine Sernur Yildirim   24.0    12.0   4.0  py_science
10                ramazan   22.0     6.0  12.0    py_sense
11                  emrah   19.0     0.0   0.0    py_sense
12                 selcuk   18.0     0.0   0.0    py_sense
13          fikret yilmaz   20.0    13.0   7.0    py_sense
14             mehmet ali   24.0    13.0   3.0    py_sense
15       huseyin tunctepe   27.0    11.0   2.0    py_sense
16                  adnan   29.0    10.0   1.0    py_sense
17           muhammet ali   22.0    11.0   7.0    py_sense
18                  zafer   18.0    11.0  11.0    py_sense
19           faruk öztürk    0.0     0.0   0.0    py_sense
20                 M.Akif   23.0    17.0   0.0     py_mind
21                   Riza   21.0    19.0   0.0     py_mind
22                   Ufuk   28.0    12.0   0.0     py_mind
23                  Murat   16.0    24.0   0.0     py_mind
24                   Zeyd   20.0    20.0   0.0     py_mind
25               Emrullah   16.0    24.0   0.0     py_mind
26                  Ozgur   19.0    21.0   0.0     py_mind
27                  Hakan   28.0    12.0   0.0     py_mind
28                  Emrah    0.0     0.0   0.0     py_mind
29                  Osman    0.0     0.0   0.0     py_mind
30            Aydin Dalli   28.0     8.0   4.0  py_opinion
31                 Ilhami   29.0     9.0   2.0  py_opinion
32             Nazmi Dere   27.0     0.0   0.0  py_opinion
33           Salih Arslan   26.0     0.0   0.0  py_opinion
34              Naim Ucar    0.0     0.0   0.0  py_opinion
35               Emrah Uz   27.0    13.0   0.0  py_opinion
36           Ensar Baltaş    0.0     0.0   0.0  py_opinion
37          İbrahim Fırat    0.0     0.0   0.0  py_opinion
38         Mehmet Karayel    0.0     0.0   0.0  py_opinion
39                  Murat    0.0     0.0   0.0  py_opinion
40             Omer Basol    0.0     0.0   0.0  py_opinion
41                  irfan   40.0     0.0   0.0      deneme
42                kamuran    NaN     NaN   NaN      deneme
43             husamettin    NaN     NaN   NaN      deneme

In [20]:
data.isna().sum()    #sutunlardaki boslari sayacak, sum'i silerek de dene

Ad_Soyad    0
Dogru       2
Yanlis      2
Bos         2
Sinif       0
dtype: int64

In [21]:
data["Ad_Soyad"].head()    #Ad_Soyad sutununu alir. ilk 5  Yontem-1

0        Zerin Ozdilek
1          Beyza Aydin
2    Zeliha Tozkoparan
3         Dilek Koksal
4         Sehri Gokcan
Name: Ad_Soyad, dtype: object

In [22]:
data.Ad_Soyad.head()    #Ad_Soyad sutununu alir. ilk 5. Yontem-2

0        Zerin Ozdilek
1          Beyza Aydin
2    Zeliha Tozkoparan
3         Dilek Koksal
4         Sehri Gokcan
Name: Ad_Soyad, dtype: object

In [26]:
data["Puan"] = (data["Dogru"]*100)/40   #100'luk sistemdeki puani yeni kolon olarak ekleyecek.

In [24]:
data

                 Ad_Soyad  Dogru  Yanlis   Bos       Sinif   Puan
0           Zerin Ozdilek   20.0     5.0  15.0  py_science   50.0
1             Beyza Aydin   26.0     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan   28.0     9.0   3.0  py_science   70.0
3            Dilek Koksal   30.0     7.0   3.0  py_science   75.0
4            Sehri Gokcan   19.0    15.0   6.0  py_science   47.5
5           Esra Tepebasi   29.0     9.0   2.0  py_science   72.5
6                 Gulben    12.0     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu   10.0     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil   20.0    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim   24.0    12.0   4.0  py_science   60.0
10                ramazan   22.0     6.0  12.0    py_sense   55.0
11                  emrah   19.0     0.0   0.0    py_sense   47.5
12                 selcuk   18.0     0.0   0.0    py_sense   45.0
13          fikret yilmaz   20.0    13.0   7.0    py_sense   50.0
14             mehmet ali   24.0    13.0   3.0    py_sense   60.0
15       huseyin tunctepe   27.0    11.0   2.0    py_sense   67.5
16                  adnan   29.0    10.0   1.0    py_sense   72.5
17           muhammet ali   22.0    11.0   7.0    py_sense   55.0
18                  zafer   18.0    11.0  11.0    py_sense   45.0
19           faruk öztürk    0.0     0.0   0.0    py_sense    0.0
20                 M.Akif   23.0    17.0   0.0     py_mind   57.5
21                   Riza   21.0    19.0   0.0     py_mind   52.5
22                   Ufuk   28.0    12.0   0.0     py_mind   70.0
23                  Murat   16.0    24.0   0.0     py_mind   40.0
24                   Zeyd   20.0    20.0   0.0     py_mind   50.0
25               Emrullah   16.0    24.0   0.0     py_mind   40.0
26                  Ozgur   19.0    21.0   0.0     py_mind   47.5
27                  Hakan   28.0    12.0   0.0     py_mind   70.0
28                  Emrah    0.0     0.0   0.0     py_mind    0.0
29                  Osman    0.0     0.0   0.0     py_mind    0.0
30            Aydin Dalli   28.0     8.0   4.0  py_opinion   70.0
31                 Ilhami   29.0     9.0   2.0  py_opinion   72.5
32             Nazmi Dere   27.0     0.0   0.0  py_opinion   67.5
33           Salih Arslan   26.0     0.0   0.0  py_opinion   65.0
34              Naim Ucar    0.0     0.0   0.0  py_opinion    0.0
35               Emrah Uz   27.0    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş    0.0     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat    0.0     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel    0.0     0.0   0.0  py_opinion    0.0
39                  Murat    0.0     0.0   0.0  py_opinion    0.0
40             Omer Basol    0.0     0.0   0.0  py_opinion    0.0
41                  irfan   40.0     0.0   0.0      deneme  100.0
42                kamuran    NaN     NaN   NaN      deneme    NaN
43             husamettin    NaN     NaN   NaN      deneme    NaN

In [27]:
data.Ad_Soyad.replace("Zerin Ozdilek","Z.Ozdilek", inplace=True) 
data

#Zerin Ozdilek'i Z.Ozdilek yapacak.

                 Ad_Soyad  Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek   20.0     5.0  15.0  py_science   50.0
1             Beyza Aydin   26.0     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan   28.0     9.0   3.0  py_science   70.0
3            Dilek Koksal   30.0     7.0   3.0  py_science   75.0
4            Sehri Gokcan   19.0    15.0   6.0  py_science   47.5
5           Esra Tepebasi   29.0     9.0   2.0  py_science   72.5
6                 Gulben    12.0     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu   10.0     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil   20.0    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim   24.0    12.0   4.0  py_science   60.0
10                ramazan   22.0     6.0  12.0    py_sense   55.0
11                  emrah   19.0     0.0   0.0    py_sense   47.5
12                 selcuk   18.0     0.0   0.0    py_sense   45.0
13          fikret yilmaz   20.0    13.0   7.0    py_sense   50.0
14             mehmet ali   24.0    13.0   3.0    py_sense   60.0
15       huseyin tunctepe   27.0    11.0   2.0    py_sense   67.5
16                  adnan   29.0    10.0   1.0    py_sense   72.5
17           muhammet ali   22.0    11.0   7.0    py_sense   55.0
18                  zafer   18.0    11.0  11.0    py_sense   45.0
19           faruk öztürk    0.0     0.0   0.0    py_sense    0.0
20                 M.Akif   23.0    17.0   0.0     py_mind   57.5
21                   Riza   21.0    19.0   0.0     py_mind   52.5
22                   Ufuk   28.0    12.0   0.0     py_mind   70.0
23                  Murat   16.0    24.0   0.0     py_mind   40.0
24                   Zeyd   20.0    20.0   0.0     py_mind   50.0
25               Emrullah   16.0    24.0   0.0     py_mind   40.0
26                  Ozgur   19.0    21.0   0.0     py_mind   47.5
27                  Hakan   28.0    12.0   0.0     py_mind   70.0
28                  Emrah    0.0     0.0   0.0     py_mind    0.0
29                  Osman    0.0     0.0   0.0     py_mind    0.0
30            Aydin Dalli   28.0     8.0   4.0  py_opinion   70.0
31                 Ilhami   29.0     9.0   2.0  py_opinion   72.5
32             Nazmi Dere   27.0     0.0   0.0  py_opinion   67.5
33           Salih Arslan   26.0     0.0   0.0  py_opinion   65.0
34              Naim Ucar    0.0     0.0   0.0  py_opinion    0.0
35               Emrah Uz   27.0    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş    0.0     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat    0.0     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel    0.0     0.0   0.0  py_opinion    0.0
39                  Murat    0.0     0.0   0.0  py_opinion    0.0
40             Omer Basol    0.0     0.0   0.0  py_opinion    0.0
41                  irfan   40.0     0.0   0.0      deneme  100.0
42                kamuran    NaN     NaN   NaN      deneme    NaN
43             husamettin    NaN     NaN   NaN      deneme    NaN

In [28]:
# Dogru sutunundaki tum nan lari 0.0 yapacak

data.Dogru = data.Dogru.fillna(0.0)
data

                 Ad_Soyad  Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek   20.0     5.0  15.0  py_science   50.0
1             Beyza Aydin   26.0     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan   28.0     9.0   3.0  py_science   70.0
3            Dilek Koksal   30.0     7.0   3.0  py_science   75.0
4            Sehri Gokcan   19.0    15.0   6.0  py_science   47.5
5           Esra Tepebasi   29.0     9.0   2.0  py_science   72.5
6                 Gulben    12.0     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu   10.0     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil   20.0    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim   24.0    12.0   4.0  py_science   60.0
10                ramazan   22.0     6.0  12.0    py_sense   55.0
11                  emrah   19.0     0.0   0.0    py_sense   47.5
12                 selcuk   18.0     0.0   0.0    py_sense   45.0
13          fikret yilmaz   20.0    13.0   7.0    py_sense   50.0
14             mehmet ali   24.0    13.0   3.0    py_sense   60.0
15       huseyin tunctepe   27.0    11.0   2.0    py_sense   67.5
16                  adnan   29.0    10.0   1.0    py_sense   72.5
17           muhammet ali   22.0    11.0   7.0    py_sense   55.0
18                  zafer   18.0    11.0  11.0    py_sense   45.0
19           faruk öztürk    0.0     0.0   0.0    py_sense    0.0
20                 M.Akif   23.0    17.0   0.0     py_mind   57.5
21                   Riza   21.0    19.0   0.0     py_mind   52.5
22                   Ufuk   28.0    12.0   0.0     py_mind   70.0
23                  Murat   16.0    24.0   0.0     py_mind   40.0
24                   Zeyd   20.0    20.0   0.0     py_mind   50.0
25               Emrullah   16.0    24.0   0.0     py_mind   40.0
26                  Ozgur   19.0    21.0   0.0     py_mind   47.5
27                  Hakan   28.0    12.0   0.0     py_mind   70.0
28                  Emrah    0.0     0.0   0.0     py_mind    0.0
29                  Osman    0.0     0.0   0.0     py_mind    0.0
30            Aydin Dalli   28.0     8.0   4.0  py_opinion   70.0
31                 Ilhami   29.0     9.0   2.0  py_opinion   72.5
32             Nazmi Dere   27.0     0.0   0.0  py_opinion   67.5
33           Salih Arslan   26.0     0.0   0.0  py_opinion   65.0
34              Naim Ucar    0.0     0.0   0.0  py_opinion    0.0
35               Emrah Uz   27.0    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş    0.0     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat    0.0     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel    0.0     0.0   0.0  py_opinion    0.0
39                  Murat    0.0     0.0   0.0  py_opinion    0.0
40             Omer Basol    0.0     0.0   0.0  py_opinion    0.0
41                  irfan   40.0     0.0   0.0      deneme  100.0
42                kamuran    0.0     NaN   NaN      deneme    NaN
43             husamettin    0.0     NaN   NaN      deneme    NaN

In [29]:
data.Dogru.mean()

17.386363636363637

In [30]:
data.mean()

Dogru     17.386364
Yanlis     8.000000
Bos        2.166667
Puan      45.535714
dtype: float64

In [31]:
data.Dogru.replace(0.0,data.Dogru.mean(), inplace=True)   #nan degerleri 0.0 yaptik, mean'de verebiliriz
data

                 Ad_Soyad      Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  15.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0   3.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0   3.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0   6.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0   2.0  py_science   72.5
6                 Gulben   12.000000     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0   4.0  py_science   60.0
10                ramazan  22.000000     6.0  12.0    py_sense   55.0
11                  emrah  19.000000     0.0   0.0    py_sense   47.5
12                 selcuk  18.000000     0.0   0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0   7.0    py_sense   50.0
14             mehmet ali  24.000000    13.0   3.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0   2.0    py_sense   67.5
16                  adnan  29.000000    10.0   1.0    py_sense   72.5
17           muhammet ali  22.000000    11.0   7.0    py_sense   55.0
18                  zafer  18.000000    11.0  11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0   0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0   0.0     py_mind   57.5
21                   Riza  21.000000    19.0   0.0     py_mind   52.5
22                   Ufuk  28.000000    12.0   0.0     py_mind   70.0
23                  Murat  16.000000    24.0   0.0     py_mind   40.0
24                   Zeyd  20.000000    20.0   0.0     py_mind   50.0
25               Emrullah  16.000000    24.0   0.0     py_mind   40.0
26                  Ozgur  19.000000    21.0   0.0     py_mind   47.5
27                  Hakan  28.000000    12.0   0.0     py_mind   70.0
28                  Emrah  17.386364     0.0   0.0     py_mind    0.0
29                  Osman  17.386364     0.0   0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0   4.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0   2.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0   0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0   0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0   0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0   0.0  py_opinion    0.0
39                  Murat  17.386364     0.0   0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0   0.0  py_opinion    0.0
41                  irfan  40.000000     0.0   0.0      deneme  100.0
42                kamuran  17.386364     NaN   NaN      deneme    NaN
43             husamettin  17.386364     NaN   NaN      deneme    NaN

In [32]:
data.dropna()   #veride bosluk olan satirlari atti ama ana veriden silmez

                 Ad_Soyad      Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  15.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0   3.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0   3.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0   6.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0   2.0  py_science   72.5
6                 Gulben   12.000000     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0   4.0  py_science   60.0
10                ramazan  22.000000     6.0  12.0    py_sense   55.0
11                  emrah  19.000000     0.0   0.0    py_sense   47.5
12                 selcuk  18.000000     0.0   0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0   7.0    py_sense   50.0
14             mehmet ali  24.000000    13.0   3.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0   2.0    py_sense   67.5
16                  adnan  29.000000    10.0   1.0    py_sense   72.5
17           muhammet ali  22.000000    11.0   7.0    py_sense   55.0
18                  zafer  18.000000    11.0  11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0   0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0   0.0     py_mind   57.5
21                   Riza  21.000000    19.0   0.0     py_mind   52.5
22                   Ufuk  28.000000    12.0   0.0     py_mind   70.0
23                  Murat  16.000000    24.0   0.0     py_mind   40.0
24                   Zeyd  20.000000    20.0   0.0     py_mind   50.0
25               Emrullah  16.000000    24.0   0.0     py_mind   40.0
26                  Ozgur  19.000000    21.0   0.0     py_mind   47.5
27                  Hakan  28.000000    12.0   0.0     py_mind   70.0
28                  Emrah  17.386364     0.0   0.0     py_mind    0.0
29                  Osman  17.386364     0.0   0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0   4.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0   2.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0   0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0   0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0   0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0   0.0  py_opinion    0.0
39                  Murat  17.386364     0.0   0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0   0.0  py_opinion    0.0
41                  irfan  40.000000     0.0   0.0      deneme  100.0

In [33]:
data

                 Ad_Soyad      Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  15.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0   3.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0   3.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0   6.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0   2.0  py_science   72.5
6                 Gulben   12.000000     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0   4.0  py_science   60.0
10                ramazan  22.000000     6.0  12.0    py_sense   55.0
11                  emrah  19.000000     0.0   0.0    py_sense   47.5
12                 selcuk  18.000000     0.0   0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0   7.0    py_sense   50.0
14             mehmet ali  24.000000    13.0   3.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0   2.0    py_sense   67.5
16                  adnan  29.000000    10.0   1.0    py_sense   72.5
17           muhammet ali  22.000000    11.0   7.0    py_sense   55.0
18                  zafer  18.000000    11.0  11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0   0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0   0.0     py_mind   57.5
21                   Riza  21.000000    19.0   0.0     py_mind   52.5
22                   Ufuk  28.000000    12.0   0.0     py_mind   70.0
23                  Murat  16.000000    24.0   0.0     py_mind   40.0
24                   Zeyd  20.000000    20.0   0.0     py_mind   50.0
25               Emrullah  16.000000    24.0   0.0     py_mind   40.0
26                  Ozgur  19.000000    21.0   0.0     py_mind   47.5
27                  Hakan  28.000000    12.0   0.0     py_mind   70.0
28                  Emrah  17.386364     0.0   0.0     py_mind    0.0
29                  Osman  17.386364     0.0   0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0   4.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0   2.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0   0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0   0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0   0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0   0.0  py_opinion    0.0
39                  Murat  17.386364     0.0   0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0   0.0  py_opinion    0.0
41                  irfan  40.000000     0.0   0.0      deneme  100.0
42                kamuran  17.386364     NaN   NaN      deneme    NaN
43             husamettin  17.386364     NaN   NaN      deneme    NaN

In [34]:
data.dropna(inplace=True)
data

#veride bosluk olan satirlari atti ve ANA VERIDEN DE SILDI.

                 Ad_Soyad      Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  15.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0   3.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0   3.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0   6.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0   2.0  py_science   72.5
6                 Gulben   12.000000     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0   4.0  py_science   60.0
10                ramazan  22.000000     6.0  12.0    py_sense   55.0
11                  emrah  19.000000     0.0   0.0    py_sense   47.5
12                 selcuk  18.000000     0.0   0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0   7.0    py_sense   50.0
14             mehmet ali  24.000000    13.0   3.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0   2.0    py_sense   67.5
16                  adnan  29.000000    10.0   1.0    py_sense   72.5
17           muhammet ali  22.000000    11.0   7.0    py_sense   55.0
18                  zafer  18.000000    11.0  11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0   0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0   0.0     py_mind   57.5
21                   Riza  21.000000    19.0   0.0     py_mind   52.5
22                   Ufuk  28.000000    12.0   0.0     py_mind   70.0
23                  Murat  16.000000    24.0   0.0     py_mind   40.0
24                   Zeyd  20.000000    20.0   0.0     py_mind   50.0
25               Emrullah  16.000000    24.0   0.0     py_mind   40.0
26                  Ozgur  19.000000    21.0   0.0     py_mind   47.5
27                  Hakan  28.000000    12.0   0.0     py_mind   70.0
28                  Emrah  17.386364     0.0   0.0     py_mind    0.0
29                  Osman  17.386364     0.0   0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0   4.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0   2.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0   0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0   0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0   0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0   0.0  py_opinion    0.0
39                  Murat  17.386364     0.0   0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0   0.0  py_opinion    0.0
41                  irfan  40.000000     0.0   0.0      deneme  100.0

In [35]:
data

                 Ad_Soyad      Dogru  Yanlis   Bos       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  15.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0   8.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0   3.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0   3.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0   6.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0   2.0  py_science   72.5
6                 Gulben   12.000000     0.0   0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0   0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0   1.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0   4.0  py_science   60.0
10                ramazan  22.000000     6.0  12.0    py_sense   55.0
11                  emrah  19.000000     0.0   0.0    py_sense   47.5
12                 selcuk  18.000000     0.0   0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0   7.0    py_sense   50.0
14             mehmet ali  24.000000    13.0   3.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0   2.0    py_sense   67.5
16                  adnan  29.000000    10.0   1.0    py_sense   72.5
17           muhammet ali  22.000000    11.0   7.0    py_sense   55.0
18                  zafer  18.000000    11.0  11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0   0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0   0.0     py_mind   57.5
21                   Riza  21.000000    19.0   0.0     py_mind   52.5
22                   Ufuk  28.000000    12.0   0.0     py_mind   70.0
23                  Murat  16.000000    24.0   0.0     py_mind   40.0
24                   Zeyd  20.000000    20.0   0.0     py_mind   50.0
25               Emrullah  16.000000    24.0   0.0     py_mind   40.0
26                  Ozgur  19.000000    21.0   0.0     py_mind   47.5
27                  Hakan  28.000000    12.0   0.0     py_mind   70.0
28                  Emrah  17.386364     0.0   0.0     py_mind    0.0
29                  Osman  17.386364     0.0   0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0   4.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0   2.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0   0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0   0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0   0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0   0.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0   0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0   0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0   0.0  py_opinion    0.0
39                  Murat  17.386364     0.0   0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0   0.0  py_opinion    0.0
41                  irfan  40.000000     0.0   0.0      deneme  100.0

In [36]:
data.drop("Bos", axis=1, inplace=True)  
data

                 Ad_Soyad      Dogru  Yanlis       Sinif   Puan
0               Z.Ozdilek  20.000000     5.0  py_science   50.0
1             Beyza Aydin  26.000000     6.0  py_science   65.0
2       Zeliha Tozkoparan  28.000000     9.0  py_science   70.0
3            Dilek Koksal  30.000000     7.0  py_science   75.0
4            Sehri Gokcan  19.000000    15.0  py_science   47.5
5           Esra Tepebasi  29.000000     9.0  py_science   72.5
6                 Gulben   12.000000     0.0  py_science   30.0
7          Rukiye Aydogdu  10.000000     0.0  py_science   25.0
8      Emine Tuba Istemil  20.000000    19.0  py_science   50.0
9   Emine Sernur Yildirim  24.000000    12.0  py_science   60.0
10                ramazan  22.000000     6.0    py_sense   55.0
11                  emrah  19.000000     0.0    py_sense   47.5
12                 selcuk  18.000000     0.0    py_sense   45.0
13          fikret yilmaz  20.000000    13.0    py_sense   50.0
14             mehmet ali  24.000000    13.0    py_sense   60.0
15       huseyin tunctepe  27.000000    11.0    py_sense   67.5
16                  adnan  29.000000    10.0    py_sense   72.5
17           muhammet ali  22.000000    11.0    py_sense   55.0
18                  zafer  18.000000    11.0    py_sense   45.0
19           faruk öztürk  17.386364     0.0    py_sense    0.0
20                 M.Akif  23.000000    17.0     py_mind   57.5
21                   Riza  21.000000    19.0     py_mind   52.5
22                   Ufuk  28.000000    12.0     py_mind   70.0
23                  Murat  16.000000    24.0     py_mind   40.0
24                   Zeyd  20.000000    20.0     py_mind   50.0
25               Emrullah  16.000000    24.0     py_mind   40.0
26                  Ozgur  19.000000    21.0     py_mind   47.5
27                  Hakan  28.000000    12.0     py_mind   70.0
28                  Emrah  17.386364     0.0     py_mind    0.0
29                  Osman  17.386364     0.0     py_mind    0.0
30            Aydin Dalli  28.000000     8.0  py_opinion   70.0
31                 Ilhami  29.000000     9.0  py_opinion   72.5
32             Nazmi Dere  27.000000     0.0  py_opinion   67.5
33           Salih Arslan  26.000000     0.0  py_opinion   65.0
34              Naim Ucar  17.386364     0.0  py_opinion    0.0
35               Emrah Uz  27.000000    13.0  py_opinion   67.5
36           Ensar Baltaş  17.386364     0.0  py_opinion    0.0
37          İbrahim Fırat  17.386364     0.0  py_opinion    0.0
38         Mehmet Karayel  17.386364     0.0  py_opinion    0.0
39                  Murat  17.386364     0.0  py_opinion    0.0
40             Omer Basol  17.386364     0.0  py_opinion    0.0
41                  irfan  40.000000     0.0      deneme  100.0

In [37]:
data.count()

Ad_Soyad    42
Dogru       42
Yanlis      42
Sinif       42
Puan        42
dtype: int64

In [38]:
data.tail()

          Ad_Soyad      Dogru  Yanlis       Sinif   Puan
37   İbrahim Fırat  17.386364     0.0  py_opinion    0.0
38  Mehmet Karayel  17.386364     0.0  py_opinion    0.0
39           Murat  17.386364     0.0  py_opinion    0.0
40      Omer Basol  17.386364     0.0  py_opinion    0.0
41           irfan  40.000000     0.0      deneme  100.0

In [39]:
#datanin kolon isimlerini degistirdik. sirayla degisim yapar.

data.columns = ["Name","True_","False_","Class","Point"] 
data.head()

                Name  True_  False_       Class  Point
0          Z.Ozdilek   20.0     5.0  py_science   50.0
1        Beyza Aydin   26.0     6.0  py_science   65.0
2  Zeliha Tozkoparan   28.0     9.0  py_science   70.0
3       Dilek Koksal   30.0     7.0  py_science   75.0
4       Sehri Gokcan   19.0    15.0  py_science   47.5

In [40]:
#istedigimiz kolon isimlerini yeniden adlandirma.

data.rename(columns={"Name": "Ad_Soyad",
                     "True_": "Dogru",
                     "Class": "Sinif"
                        }, inplace=True)   
data.head()

            Ad_Soyad  Dogru  False_       Sinif  Point
0          Z.Ozdilek   20.0     5.0  py_science   50.0
1        Beyza Aydin   26.0     6.0  py_science   65.0
2  Zeliha Tozkoparan   28.0     9.0  py_science   70.0
3       Dilek Koksal   30.0     7.0  py_science   75.0
4       Sehri Gokcan   19.0    15.0  py_science   47.5

In [41]:
#veride yeni index olusturacagiz. adim-1

new_index = np.arange(1,(len(data.Ad_Soyad))+1)
new_index

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42])

In [42]:
# adim-2 de olusturulan new index'i dataya index olarak atadik.

data.set_index(new_index, inplace=True)

In [43]:
data

                 Ad_Soyad      Dogru  False_       Sinif  Point
1               Z.Ozdilek  20.000000     5.0  py_science   50.0
2             Beyza Aydin  26.000000     6.0  py_science   65.0
3       Zeliha Tozkoparan  28.000000     9.0  py_science   70.0
4            Dilek Koksal  30.000000     7.0  py_science   75.0
5            Sehri Gokcan  19.000000    15.0  py_science   47.5
6           Esra Tepebasi  29.000000     9.0  py_science   72.5
7                 Gulben   12.000000     0.0  py_science   30.0
8          Rukiye Aydogdu  10.000000     0.0  py_science   25.0
9      Emine Tuba Istemil  20.000000    19.0  py_science   50.0
10  Emine Sernur Yildirim  24.000000    12.0  py_science   60.0
11                ramazan  22.000000     6.0    py_sense   55.0
12                  emrah  19.000000     0.0    py_sense   47.5
13                 selcuk  18.000000     0.0    py_sense   45.0
14          fikret yilmaz  20.000000    13.0    py_sense   50.0
15             mehmet ali  24.000000    13.0    py_sense   60.0
16       huseyin tunctepe  27.000000    11.0    py_sense   67.5
17                  adnan  29.000000    10.0    py_sense   72.5
18           muhammet ali  22.000000    11.0    py_sense   55.0
19                  zafer  18.000000    11.0    py_sense   45.0
20           faruk öztürk  17.386364     0.0    py_sense    0.0
21                 M.Akif  23.000000    17.0     py_mind   57.5
22                   Riza  21.000000    19.0     py_mind   52.5
23                   Ufuk  28.000000    12.0     py_mind   70.0
24                  Murat  16.000000    24.0     py_mind   40.0
25                   Zeyd  20.000000    20.0     py_mind   50.0
26               Emrullah  16.000000    24.0     py_mind   40.0
27                  Ozgur  19.000000    21.0     py_mind   47.5
28                  Hakan  28.000000    12.0     py_mind   70.0
29                  Emrah  17.386364     0.0     py_mind    0.0
30                  Osman  17.386364     0.0     py_mind    0.0
31            Aydin Dalli  28.000000     8.0  py_opinion   70.0
32                 Ilhami  29.000000     9.0  py_opinion   72.5
33             Nazmi Dere  27.000000     0.0  py_opinion   67.5
34           Salih Arslan  26.000000     0.0  py_opinion   65.0
35              Naim Ucar  17.386364     0.0  py_opinion    0.0
36               Emrah Uz  27.000000    13.0  py_opinion   67.5
37           Ensar Baltaş  17.386364     0.0  py_opinion    0.0
38          İbrahim Fırat  17.386364     0.0  py_opinion    0.0
39         Mehmet Karayel  17.386364     0.0  py_opinion    0.0
40                  Murat  17.386364     0.0  py_opinion    0.0
41             Omer Basol  17.386364     0.0  py_opinion    0.0
42                  irfan  40.000000     0.0      deneme  100.0

In [ ]:
data["Sinif"]=="py_mind"

In [44]:
# Sinif sinif ayirdik

py_mind = data[data["Sinif"]=="py_mind"] 

#datanin icinden sinifi py_mind olanlari aldi
py_sense = data[data["Sinif"]=="py_sense"]    #datanin icinden sinifi sense olanlari aldi
py_opinion = data[data["Sinif"]=="py_opinion"]    #datanin icinden sinifi opinion olanlari aldi
py_science = data[data["Sinif"]=="py_science"]    #datanin icinden sinifi science olanlari aldi
deneme = data[data["Sinif"]=="deneme222"]

In [46]:
py_mind

    Ad_Soyad      Dogru  False_    Sinif  Point
21    M.Akif  23.000000    17.0  py_mind   57.5
22      Riza  21.000000    19.0  py_mind   52.5
23      Ufuk  28.000000    12.0  py_mind   70.0
24     Murat  16.000000    24.0  py_mind   40.0
25      Zeyd  20.000000    20.0  py_mind   50.0
26  Emrullah  16.000000    24.0  py_mind   40.0
27     Ozgur  19.000000    21.0  py_mind   47.5
28     Hakan  28.000000    12.0  py_mind   70.0
29     Emrah  17.386364     0.0  py_mind    0.0
30     Osman  17.386364     0.0  py_mind    0.0

In [50]:
data.loc[1:10,"Sinif"]   # loc ile dilimleyerek secmek. not> Loc index/sutun ismi ile cagirir.

1     py_science
2     py_science
3     py_science
4     py_science
5     py_science
6     py_science
7     py_science
8     py_science
9     py_science
10    py_science
Name: Sinif, dtype: object

In [48]:
data.iloc[1:10]  # iloc ile dilimleme. Not> iloc indexi sifir kabul eder

                 Ad_Soyad  Dogru  False_       Sinif  Point
2             Beyza Aydin   26.0     6.0  py_science   65.0
3       Zeliha Tozkoparan   28.0     9.0  py_science   70.0
4            Dilek Koksal   30.0     7.0  py_science   75.0
5            Sehri Gokcan   19.0    15.0  py_science   47.5
6           Esra Tepebasi   29.0     9.0  py_science   72.5
7                 Gulben    12.0     0.0  py_science   30.0
8          Rukiye Aydogdu   10.0     0.0  py_science   25.0
9      Emine Tuba Istemil   20.0    19.0  py_science   50.0
10  Emine Sernur Yildirim   24.0    12.0  py_science   60.0

In [51]:
#sinif sinif en basarili kisiler
#ascending=False > Buyukten kucuge siralar.

mind_1st = py_mind.sort_values(by="Dogru",ascending=False).head(1)

sense_1st=py_sense.sort_values(by="Dogru",ascending=False).head(1)
science_1st=py_science.sort_values(by="Dogru",ascending=False).head(1)
opinion_1st=py_opinion.sort_values(by="Dogru",ascending=False).head(1)

opinion_1st

   Ad_Soyad  Dogru  False_       Sinif  Point
32   Ilhami   29.0     9.0  py_opinion   72.5

In [52]:
py_mind.sort_values(by="Dogru", ascending=False).head(1)

   Ad_Soyad  Dogru  False_    Sinif  Point
23     Ufuk   28.0    12.0  py_mind   70.0

In [55]:
#genel datada  Veri siralama - sort islemi

data.sort_values(by="Dogru", ascending=False).head() #ascending=False > Buyukten kucuge siralar.

         Ad_Soyad  Dogru  False_       Sinif  Point
42          irfan   40.0     0.0      deneme  100.0
4    Dilek Koksal   30.0     7.0  py_science   75.0
6   Esra Tepebasi   29.0     9.0  py_science   72.5
17          adnan   29.0    10.0    py_sense   72.5
32         Ilhami   29.0     9.0  py_opinion   72.5

In [56]:
 #grupby islemi ile siniflarin ortalamasini aldik.

data.groupby(data.Sinif).mean()

                Dogru     False_       Point
Sinif
deneme      40.000000   0.000000  100.000000
py_mind     20.577273  14.900000   42.750000
py_opinion  21.938017   2.727273   31.136364
py_science  21.800000   8.200000   54.500000
py_sense    21.638636   7.500000   49.750000

In [57]:
#farkli sheetlerden dosya okuma
import pandas as pd
fake = pd.read_excel("C:\\Users\\Toshiba\\Desktop\\datascience\\Pandas\\sinavlar.xlsx", sheet_name="sinif2")

In [58]:
fake

    Ad_Soyad  Dogru  Yanlis  Bos Sinif
0      hasan     23       3  NaN  fake
1      kenan     12       4  NaN  fake
2    kamuran     33       2  NaN  fake
3  ali ihsan     40       0  NaN  fake
4      yavuz      2      36  NaN  fake
5       ayse     30       6  NaN  fake
6      fatma     23      14  NaN  fake
7     zeynep     37       2  NaN  fake
8      merve     34       6  NaN  fake
9      ceren     20      12  NaN  fake

In [59]:
pd.concat([data,fake], axis = 0, ignore_index=True)

C:\Users\Toshiba\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                 Ad_Soyad  Bos      Dogru  False_  Point       Sinif  Yanlis
0               Z.Ozdilek  NaN  20.000000     5.0   50.0  py_science     NaN
1             Beyza Aydin  NaN  26.000000     6.0   65.0  py_science     NaN
2       Zeliha Tozkoparan  NaN  28.000000     9.0   70.0  py_science     NaN
3            Dilek Koksal  NaN  30.000000     7.0   75.0  py_science     NaN
4            Sehri Gokcan  NaN  19.000000    15.0   47.5  py_science     NaN
5           Esra Tepebasi  NaN  29.000000     9.0   72.5  py_science     NaN
6                 Gulben   NaN  12.000000     0.0   30.0  py_science     NaN
7          Rukiye Aydogdu  NaN  10.000000     0.0   25.0  py_science     NaN
8      Emine Tuba Istemil  NaN  20.000000    19.0   50.0  py_science     NaN
9   Emine Sernur Yildirim  NaN  24.000000    12.0   60.0  py_science     NaN
10                ramazan  NaN  22.000000     6.0   55.0    py_sense     NaN
11                  emrah  NaN  19.000000     0.0   47.5    py_sense     NaN
12                 selcuk  NaN  18.000000     0.0   45.0    py_sense     NaN
13          fikret yilmaz  NaN  20.000000    13.0   50.0    py_sense     NaN
14             mehmet ali  NaN  24.000000    13.0   60.0    py_sense     NaN
15       huseyin tunctepe  NaN  27.000000    11.0   67.5    py_sense     NaN
16                  adnan  NaN  29.000000    10.0   72.5    py_sense     NaN
17           muhammet ali  NaN  22.000000    11.0   55.0    py_sense     NaN
18                  zafer  NaN  18.000000    11.0   45.0    py_sense     NaN
19           faruk öztürk  NaN  17.386364     0.0    0.0    py_sense     NaN
20                 M.Akif  NaN  23.000000    17.0   57.5     py_mind     NaN
21                   Riza  NaN  21.000000    19.0   52.5     py_mind     NaN
22                   Ufuk  NaN  28.000000    12.0   70.0     py_mind     NaN
23                  Murat  NaN  16.000000    24.0   40.0     py_mind     NaN
24                   Zeyd  NaN  20.000000    20.0   50.0     py_mind     NaN
25               Emrullah  NaN  16.000000    24.0   40.0     py_mind     NaN
26                  Ozgur  NaN  19.000000    21.0   47.5     py_mind     NaN
27                  Hakan  NaN  28.000000    12.0   70.0     py_mind     NaN
28                  Emrah  NaN  17.386364     0.0    0.0     py_mind     NaN
29                  Osman  NaN  17.386364     0.0    0.0     py_mind     NaN
30            Aydin Dalli  NaN  28.000000     8.0   70.0  py_opinion     NaN
31                 Ilhami  NaN  29.000000     9.0   72.5  py_opinion     NaN
32             Nazmi Dere  NaN  27.000000     0.0   67.5  py_opinion     NaN
33           Salih Arslan  NaN  26.000000     0.0   65.0  py_opinion     NaN
34              Naim Ucar  NaN  17.386364     0.0    0.0  py_opinion     NaN
35               Emrah Uz  NaN  27.000000    13.0   67.5  py_opinion     NaN
36           Ensar Baltaş  NaN  17.386364     0.0    0.0  py_opinion     NaN
37          İbrahim Fırat  NaN  17.386364     0.0    0.0  py_opinion     NaN
38         Mehmet Karayel  NaN  17.386364     0.0    0.0  py_opinion     NaN
39                  Murat  NaN  17.386364     0.0    0.0  py_opinion     NaN
40             Omer Basol  NaN  17.386364     0.0    0.0  py_opinion     NaN
41                  irfan  NaN  40.000000     0.0  100.0      deneme     NaN
42                  hasan  NaN  23.000000     NaN    NaN        fake     3.0
43                  kenan  NaN  12.000000     NaN    NaN        fake     4.0
44                kamuran  NaN  33.000000     NaN    NaN        fake     2.0
45              ali ihsan  NaN  40.000000     NaN    NaN        fake     0.0
46                  yavuz  NaN   2.000000     NaN    NaN        fake    36.0
47                   ayse  NaN  30.000000     NaN    NaN        fake     6.0
48                  fatma  NaN  23.000000     NaN    NaN        fake    14.0
49                 zeynep  NaN  37.000000     NaN    NaN        fake     2.0
50                  merve  NaN  34.000000     NaN    NaN        fake     6.0
51                  ceren  NaN  20.000000     NaN    NaN        fake    12.0

In [ ]:
pwd # hangi dizindeyiz.